@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SysTracker</h1>
    <p class="lead">Never fear.  SysTracker is here.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            <dl>
                <dd>1. Review the list of server types (application, web, db).</dd>
                <dd>2. Review the systems (ERP, Document Management).</dd>
                <dd>3. Enter the list of servers.</dd>
                <dd>4. Create the relationships links!</dd>
            </dl>
        </p>
    </div>
</div>